#!/usr/bin/env ruby

compile '/**/*.md' do
    filter :kramdown, toc_levels: 2...6
    if @item.identifier =~ '/index.*'
        layout '/home.html'
    elsif @item.identifier.to_s.include? 'posts'
        layout '/post.html'
    else
        layout '/default.html'
    end
    filter :relativize_paths, type: :html
end

compile '/**/*.css' do
    filter :relativize_paths, type: :css
    write @item.identifier.without_ext + '.css'
end

compile '/**/*.{jpg,ico,js}' do
    write @item.identifier.to_s
end

route '/posts/*' do
    y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier.without_ext).captures
    "/posts/#{y}/#{m}/#{slug}.html"
end

route '/**/*.{html,md}' do
  if @item.identifier =~ '/index.*'
    '/index.html'
  else
    @item.identifier.without_ext + '.html'
  end
end

layout '/**/*', :erb
