#!/usr/bin/env ruby

compile '/**/*.md' do
    filter :erb
    filter :kramdown, toc_levels: 2..2
    if @item.identifier =~ '/index.*'
        layout '/home.*'
    elsif @item.identifier.to_s.include? 'projects'
        layout '/project.*'
    else
        layout '/default.*'
    end
    filter :relativize_paths, type: :html
end

compile '/**/*.scss' do
  filter :erb
  filter :sass, syntax: :scss
  write asset_path(item.identifier.without_ext + '.css')
end

route '/**/*.{html,md}' do
  if @item.identifier =~ '/index.*'
    '/index.html'
  else
    @item.identifier.without_ext + '.html'
  end
end

compile '/**/*.{ico,jpg,js,png,svg,webmanifest,xml}' do
  write asset_path(item.identifier.to_s)
end

compile '/**/*.erb' do
  filter :erb
  write item.identifier.without_ext.to_s
end

layout '/**/*', :erb
