#!/usr/bin/env ruby

compile '/**/*.md' do
  filter :kramdown, toc_levels: 2...6
  layout '/default.*'
  filter :relativize_paths, type: :html
end

compile '/**/*.css' do
    filter :relativize_paths, type: :css
    write @item.identifier.without_ext + '.css'
end

compile '/**/*.{jpg,ico,js}' do
    write item.identifier.to_s
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '.html'
  end
end

layout '/**/*', :erb
