<footer>
  &copy; Manos Saratsis &bull; <a href="https://linkedin.com/in/manossaratsis">LinkedIn</a> &bull; <a href="https://github.com/manossaratsis">GitHub</a> &bull; <a href="mailto:ask@manossaratsis.com">Have Questions?</a>
</footer>
