<footer>
  &copy; Manos Saratsis &bull; <a href="https://linkedin.com/in/esaratsis">LinkedIn</a> &bull; <a href="https://github.com/manossaratsis">GitHub</a> &bull; <a href="mailto:questions@manossaratsis.com">Ask Me</a>
</footer>
