<div class="nav-bar">
  <img class="nav-button" src="/img/menu.svg" onclick="openNav()"/>
  <ul class="nav-menu">
    <li><a href="/" class="logo">MS</a></li>
    <li><a href="/bio">Bio</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="https://stationa.com">Platform</a></li>
  </ul>
</div>
