<div class="nav-bar">
  <img class="nav-button" src="/img/menu.svg" onclick="openNav()"/>
  <ul class="nav-menu">
    <li>
      <a href="/" class="logo">
        <img class="logo-image">
          <svg viewBox="0 0 1000 1000">
            <rect class="logo-background" x="-.09" y="2" width="1000" height="1000"/>
            <g class="logo-foreground">
              <polygon points="529.23 607.1 529.23 331.23 391.26 607.1 529.23 607.1"/>
              <polygon points="378.97 607.1 378.97 331.23 241 607.1 378.97 607.1"/>
              <path d="M536.61,637.19c42.11,42.11,110.38,42.11,152.49,0,42.11-42.11,42.11-110.38,0-152.49l-152.49,152.49Z"/>
              <path d="M732.81,409.21c-42.11-42.11-110.38-42.11-152.49,0-42.11,42.11-42.11,110.38,0,152.49l152.49-152.49Z"/>
            </g>
          </svg>
        </img>
      </a>
    </li>
    <li><a href="/bio">Bio</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="https://stationa.com">Platform</a></li>
  </ul>
</div>
