<div class="nav-bar">
  <img class="nav-button" src="/img/menu.svg" onclick="openNav()"/>
  <ul class="nav-menu">
    <li>
      <a href="/" class="logo">
        <img class="logo-image">
          <svg viewBox="0 0 1000 1000">
            <rect class="logo-background" x="-.09" y="2" width="1000" height="1000"/>
            <g class="logo-foreground">
              <polygon points="549.3 625.01 549.3 303 388.26 625.01 549.3 625.01"/>
              <polygon points="373.92 625.01 373.92 303 212.87 625.01 373.92 625.01"/>
              <path d="M557.93,660.14c49.15,49.15,128.84,49.15,177.99,0,49.15-49.15,49.15-128.84,0-178l-177.99,177.99Z"/>
              <path d="M786.94,394.03c-49.15-49.15-128.84-49.15-177.99,0-49.15,49.15-49.15,128.84,0,178l177.99-177.99Z"/>
            </g>
          </svg>
        </img>
      </a>
    </li>
    <li><a href="/bio">Bio</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="https://stationa.com">Platform</a></li>
  </ul>
</div>
