<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MS |  <%= @item[:title] %></title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Publications</h2>
      <ul>
        <li><a href="/publications/thesis.html">Thesis</a></li>
        <li><a href="/publications/interface.html">Tangible Interface</a></li>
        <li><a href="/publications/floor-plan.html">Floor Plan</a></li>
        <li><a href="/publications/design.html">Design</a></li>
        <li><a href="/publications/sim-game.html">Sim Game</a></li>
      </ul>
    </div>
  </body>
</html>
