<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%=render '/partials/head.html' %>
  </head>
  <body>
    <div>
      <%=render '/partials/navbar.html' %>
    </div>
    <div class='banner' style='background-image: url(<%= item[:image] %>)'></div>
    <main>
      <div class='post'>
        <h1><%= item[:title] %></h1>
        <hr>
        <p class='description'><%= item[:description] %></p>
        <aside>Posted at: <%= item[:created_at] %></aside>
        <article>
          <%= yield %>
        </article>
      </div>
    </main>
    <%= render '/partials/scripts.html' %>
  </body>
</html>
