:root {
  --accent: 192, 118, 80;
  --dark-accent: 79, 31, 7;
  --black: 15, 15, 15;
  --almost-black: 30, 30, 30;
  --dark-grey: 50, 50, 50;
  --grey: 75, 75, 75;
  --light-grey: 125, 125, 125;
  --almost-white: 185, 185, 185;
  --white: 235, 235, 235;
}
