body{
    font-size: 250%;
}

#main {
    position: static;
    margin: 5em auto;
    width: 92vw;
}

.sidebar {
    display: none;
}

ul.nav li:not(:first-child) {
    display: none;
}

ul.nav,
ul.nav.responsive {
    height: auto;
    position: fixed;
}

ul.nav.responsive li {
    float: none;
    display: inline;
}

ul.nav li a,
ul.nav.responsive li a {
    display: block;
    text-align: left;
    margin-right: 0;
}
