body {
	font-size: 1.2em;
}

.sidebar {
  display: none;
}

#main {
	position: static;
	margin: 5em auto;
  width: 92vw;
}

#main h1 {
	font-size: 2.4em;
}

ul.nav li:not(:first-child) {
	display: none;
}

ul.nav li.icon {
	float: right;
  display: inline-block;
}

ul.nav.responsive {
	height: auto;
  position: fixed;
}

ul.nav.responsive li {
  float: none;
  display: inline;
}

ul.nav.responsive li a {
  display: block;
  text-align: left;
}

ul.nav.responsive li a.logo {
  background-color: #1e00ee;
  color: #fff;
	margin-right: 0;
}
