body {
	font-size: 16px;
}

.sidebar {
  display: none;
}

#main {
	position: static;
	margin: 5em auto;
  width: 92vw;
}

ul.nav li:not(:first-child) {
	display: none;
}

ul.nav li.icon {
	float: right;
  display: inline-block;
}

ul.nav.responsive {
	height: auto;
  position: fixed;
}

ul.nav.responsive li.icon {
  position: absolute;
  right: 0;
  top: 0;
}

ul.nav.responsive li {
  float: none;
  display: inline;
}

ul.nav.responsive li a {
  display: block;
  text-align: left;
}

ul.nav.responsive li a.logo {
  background-color: #1e00ee;
  color: #fff;
	margin-right: 0;
}

ul.nav.responsive li.icon a {
	color: #fff;
}

ul.nav.responsive li.icon a:hover {
	background-color: transparent;
}
