* {
    -webkit-text-size-adjust: 100%;
}

main {
    font-size: 16px;
    margin: 4em auto;
    position: static;
    width: 92vw;
}

ul.nav,
ul.nav.responsive {
    cursor: pointer;
    height: initial;
    position: fixed;
}

ul.nav li:not(:first-child) {
    display: none;
}

ul.nav.responsive li {
    display: inline;
    float: none;
}

ul.nav.responsive li a {
    display: block;
    margin-right: 0;
    text-align: left;
}

.banner-image {
    max-height: 30em;
}
