* {
    -webkit-text-size-adjust: 100%;
}

main {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    position: static;
    width: 92vw;
}

ul.nav-menu,
ul.nav-menu.responsive {
    height: initial;
    position: fixed;
}

ul.nav-menu li:not(:first-child) {
    display: none;
}

ul.nav-menu.responsive li {
    display: inline;
    float: none;
}

ul.nav-menu.responsive li a {
    display: block;
    margin-right: 0;
    text-align: left;
}

.banner-image {
    max-height: 30em;
}

.home {
  height: auto;
}

.nav-button {
    cursor: pointer;
    display: block;
    height: 1.8em;
    position: fixed;
    right: 1em;
    top: 0.5em;
    z-index: 1000;
}
