@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #ddd;
  color: rgba(33,33,33,1.0);
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #b1b1b1;
  font-weight: 300;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;
  top: 2.5em;
  left: 17.5em;
  width: 32em;
}

#main h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2em;
}

#main h2 {
  font-weight: 500;
}

#main p {
  margin: 1.25em 0;
  font-size: 0.92em;
  font-weight: 300;
  line-height: 1.5em;
}

#main ul, #main ol {
  margin: 1.2em;
  list-style-type: square;
}

#main li {
  font-size: 0.92em;
  line-height: 1.2em;
}

#main hr {
  border-color: #fff;
  border-style: solid;
  margin-top: 3em;
}

#main strong {
  font-weight: 400;
}

#main em {
  font-size: 0.92em;
  font-weight: 300i;
  line-height: 1.5em;
  font-weight: 300i;
}

#sidebar {
  position: absolute;
  top: 2.5em;
  left: 1.2em;
  width: 12.5em;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #b7b7b7;
  letter-spacing: 0.1em;
  line-height: 2.4em;
  font-weight: 500;
}

#sidebar ul {
  list-style-type: none;
  margin: 1.2em 0;
}

#sidebar li {
  font-size: 0.92em;
  line-height: 1.5em;
}
