@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  background: rgba(var(--almost-black), 1.0);
  color: rgba(var(--white), 1.0);
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  main {
    font-size: 18px;
    left: calc((100vw - 44em) / 2);
    line-height: 1.9em;
    margin: 5em 0 auto;
    position: relative;
    width: 44em;
    ul:not(#markdown-toc) {
      list-style-type: square;
      margin: 1.2em;
    }
  }
  footer {
    bottom: 0;
    color: rgba(var(--accent), 1.0);
    font-size: 0.8em;
    font-weight: 600;
    left: 0;
    padding: 2em 0;
    position: relative;
    text-align: center;
    width: 100vw;
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: rgba(var(--accent), 1.0);
    }
  }
  .gradient {
    background: rgba(var(--almost-black), 1.0);
    background: linear-gradient(90deg, rgba(var(--almost-black), 0.8) 20%, rgba(var(--almost-black), 0.2) 100%);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }
  .background {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
  }
  &.home {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    main {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }
    ul.nav-menu {
      background-color: rgba(var(--dark-grey), 0.3);
    }
    footer {
      position: fixed;
    }
  }
  a {
    text-decoration: none;
    &:link,
    &:visited {
      color: rgba(var(--accent), 1.0);
    }
    &:link:hover,
    &:visited:hover {
      cursor: pointer;
    }
  }
  aside {
    color: rgba(var(--accent), 1.0);
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 2em;
    text-transform: lowercase;
    text-align: right;
  }
  blockquote {
    border-left: 4px solid rgba(var(--dark-grey), 1.0);
    color: rgba(var(--almost-white), 1.0);
    font-size: 2em;
    line-height: 1.4em;
    padding-left: 1.8em;
    p {
      margin: 1.4em 0;
    }
  }
  em.caption {
    color: rgba(var(--almost-white), 1.0);
    line-height: 1.5em;
  }
  h1 {
    color: rgba(var(--white), 1.0);
    font-size: 2.6em;
    font-weight: 800;
    line-height: 1.2em;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: -2em;
    padding-top: 4em;
  }
  h3 {
    font-size: 1em;
    font-weight: 600;
    margin-top: -2em;
    padding-top: 4em;
  }
  hr {
    border: 2px solid rgba(var(--accent), 1.0);
    border-radius: 2px;
    margin: 3em 0;
  }
  img {
    &.figure {
      border-radius: 4px;
      margin-top: 1.75em;
      max-width: 100%;
    }
    &.profile-pic {
      border-radius: 50%;
      height: 12em;
    }
  }
  p {
    font-weight: 300;
    margin-top: 1.75em;
  }
  strong {
    font-weight: 600;
  }
  table {
    border-collapse: collapse;
    margin-top: 1em;
    table-layout: fixed;
    width: 100%;
    td,
    th {
      padding-left: 0.5em;
    }
    tr {
      height: 2.5em;
    }
    tbody {
      tr:nth-child(odd) {
        background-color: rgba(var(--dark-grey), 1.0);
      }
    }
  }
  ul.nav-menu {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(var(--almost-black), 0.5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    li {
      float: left;
      a {
        color: rgba(var(--white), 1.0);
        display: inline-block;
        font-weight: 800;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        padding: 1.2em;
        text-transform: uppercase;
        &.logo {
          background-color: rgba(var(--accent), 1.0);
          color: rgba(var(--almost-black), 1.0);
        }
        &.currentLink {
          color: rgba(var(--accent), 1.0);
        }
        &:not(.logo):not(.currentLink):hover {
          color: rgba(var(--accent), 1.0);
          transition: color 400ms;
        }
      }
      &.icon {
        display: none;
      }
    }
  }
  .nav-button {
    display: none;
    outline: none;
  }
  .tile {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: flex-end;
    margin-top: 1.2em;
    position: relative;
    p, aside {
      margin: 0;
      padding: 0 1.4em;
      z-index: 1;
    }
    aside {
      padding-bottom: 1.4em;
    }
  }
  .tile-blur {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(var(--dark-grey), 1.0);
    background: linear-gradient(20deg, rgba(var(--almost-black), 0.8) 30%, rgba(var(--almost-black), 0.2) 100%);
    border-radius: 4px;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .card {
    background-color: rgba(var(--dark-grey), 1.0);
    border-left: 4px solid rgba(var(--accent), 0.4);
    border-radius: 4px;
    line-height: 2em;
    margin-top: 1.2em;
    padding: 1em 2em;
    & > * {
      margin: 0;
      padding: 0;
    }
  }
  .banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100vw;
  }
  .title {
    font-weight: 600;
  }
  ul.sidebar {
    left: 0;
    list-style-type: none;
    position: fixed;
    text-align: right;
    top: 5em;
    width: calc(((100vw - 44em) / 2) - 2em);
    a:link,
    a:visited {
      color: rgba(var(--almost-white), 1.0);
    }
    a:hover,
    a:visited:hover {
      color: rgba(var(--accent), 1.0);
      transition: color 400ms;
    }
    li {
      font-size: 0.94em;
      line-height: 2em;
    }
  }
  .sub {
    font-size: 60%;
    margin-left: 0.1em;
    position: relative;
    top: 0.3em;
  }
  .sup {
    bottom: 0.8em;
    font-size: 60%;
    margin-left: 0.1em;
    position: relative;
  }
}
@media (max-width: 1360px) {
  body {
    main {
      ul.sidebar {
        margin-bottom: 1.2em;
        position: static;
        width: 100vw;
        li {
          a {
            display: block;
            text-align: left;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  @supports (background: -webkit-named-image(i)) {
    body {
      &.home {
        min-height: 100vh;
        min-height: -webkit-fill-available;
      }
    }
  }
  body {
    &.home {
      ul.nav-menu {
        &:not(.responsive) {
          background-color: transparent;
          backdrop-filter: blur(0px);
          -webkit-backdrop-filter: blur(0px);
        }
      }
      main {
        margin: 0 auto !important;
      }
    }
    main {
      font-size: 1em;
      margin: 5em auto !important;
      position: static;
      width: 90% !important;
    }
    h1 {
      font-size: 2em;
    }
    ul.nav-menu,
    ul.nav-menu.responsive {
      height: initial;
      position: fixed;
    }
    ul.nav-menu {
      li {
        &:not(:first-child) {
          display: none;
        }
      }
    }
    ul.nav-menu.responsive {
      li {
        display: inline;
        float: none;
        a {
          display: block;
          margin-right: 0;
          text-align: left;
        }
      }
    }
    .banner-image {
      max-height: 30em;
    }
    .card {
      padding: 1em 1.2em;
    }
    .nav-button {
      cursor: pointer;
      display: block;
      height: 1.8em;
      position: fixed;
      right: 1em;
      top: 0.6em;
      z-index: 1000;
    }
  }
}
