/* @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600');
*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');

* {
  margin: 0;
  padding: 0;
  /*font-family: 'Rajdhani', sans-serif;*/
  font-family: 'Rubik', sans-serif;
}

body {
  background: rgba(33,33,33,1.0);
  color: #bbb;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #666;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;
  top: 40px;
  left: 280px;
  width: 500px;
}

#main h1 {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}
