@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  overflow-x: hidden;
}
.logo-foreground {
  fill: rgba(var(--dark-accent), 1);
}
.logo-background {
  fill: rgba(var(--accent), 1);
}
body {
  background: rgba(var(--almost-black), 1);
  color: rgba(var(--white), 1);
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  main {
    font-size: 18px;
    left: calc((100vw - 800px) / 2);
    line-height: 36px;
    margin: 90px 0 auto;
    position: relative;
    width: 800px;
    ul:not(#markdown-toc) {
      list-style-type: square;
      margin: 20px;
    }
  }
  footer {
    bottom: 0;
    color: rgba(var(--accent), 1);
    font-size: 14px;
    font-weight: 600;
    left: 0;
    padding: 36px 0;
    position: relative;
    text-align: center;
    width: 100vw;
    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: rgba(var(--accent), 1);
      }
    }
  }
  .gradient {
    background: rgba(var(--almost-black), 1);
    background: linear-gradient(
      80deg,
      rgba(var(--almost-black), 0.8) 20%,
      rgba(var(--almost-black), 0.2) 100%
    );
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }
  .background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
  }
  &.home {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    main {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }
    ul.nav-menu {
      background-color: rgba(var(--dark-grey), 0.3);
    }
    h1 {
      a {
        text-decoration: none;
        &:link,
        &:visited {
          color: rgba(var(--accent), 1);
        }
      }
    }
    h1,
    footer {
      text-shadow: 0px 0px 14px rgba(var(--dark-accent), 0.5);
      -webkit-text-shadow: 0px 0px 14px rgba(var(--dark-accent), 0.5);
    }
    footer {
      position: fixed;
    }
  }
  a {
    text-decoration: none;
    &:link,
    &:visited {
      color: rgba(var(--accent), 1);
    }
    &:link:hover,
    &:visited:hover {
      cursor: pointer;
    }
  }
  aside {
    color: rgba(var(--accent), 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 12px;
    text-transform: lowercase;
  }
  blockquote {
    border-left: 4px solid rgba(var(--dark-accent), 1);
    color: rgba(var(--accent), 1);
    font-size: 36px;
    line-height: 52px;
    padding-left: 48px;
    p {
      margin: 48px 0;
    }
  }
  em.caption {
    color: rgba(var(--light-grey), 1);
    margin-bottom: 24px;
  }
  h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: -36px;
    padding-top: 72px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: -36px;
    padding-top: 72px;
  }
  hr {
    border: 2px solid rgba(var(--accent), 1);
    border-radius: 2px;
    margin-top: 48px;
  }
  img {
    &.figure {
      border-radius: 4px;
      margin-top: 32px;
      max-width: 100%;
    }
    &.profile-pic {
      border-radius: 50%;
      height: 220px;
    }
  }
  p {
    font-weight: 300;
    margin-top: 32px;
  }
  strong {
    font-weight: 600;
  }
  table {
    border-collapse: collapse;
    margin-top: 18px;
    table-layout: fixed;
    width: 100%;
    td,
    th {
      padding-left: 10px;
      strong {
        color: rgba(var(--accent), 1);
      }
    }
    tr {
      height: 48px;
    }
    tbody {
      tr:nth-child(odd) {
        background-color: rgba(var(--dark-accent), 0.2);
      }
    }
  }
  ul.nav-menu {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(var(--almost-black), 0.5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    height: 55px;
    li {
      float: left;
      a {
        color: rgba(var(--white), 1);
        display: inline-block;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 18px;
        text-transform: uppercase;
        &.logo {
          margin-right: 18px;
          padding: 0;
          width: 55px;
          .logo-image {
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
        &.currentLink {
          color: rgba(var(--accent), 1);
        }
        &:not(.logo):not(.currentLink):hover {
          color: rgba(var(--accent), 1);
          transition: color 400ms;
        }
      }
      &.icon {
        display: none;
      }
    }
  }
  .nav-button {
    display: none;
    outline: none;
  }
  .tile {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative;
    .title {
      font-size: 28px;
      line-height: 36px;
      padding-bottom: 10px;
      a {
        &:link,
        &:visited,
        &:hover,
        &:visited:hover {
          color: rgba(var(--white), 1);
        }
      }
    }
    .description {
      padding-bottom: 20px;
      line-height: 32px;
    }
    aside {
      color: rgba(var(--accent), 1);
      padding-bottom: 20px;
    }
    .title,
    .description,
    aside {
      text-shadow: 0px 0px 8px rgba(var(--dark-accent), 0.2);
      -webkit-text-shadow: 0px 0px 8px rgba(var(--dark-accent), 0.2);
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
      z-index: 1;
    }
  }
  .filter {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(var(--dark-grey), 1);
    background: linear-gradient(
      15deg,
      rgba(var(--dark-grey), 0.9) 25%,
      rgba(var(--dark-grey), 0.2) 100%
    );
    border-radius: 4px;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .card {
    background-color: rgba(var(--dark-grey), 1);
    border-left: 4px solid rgba(var(--dark-accent), 1);
    border-radius: 4px;
    line-height: 48px;
    margin-top: 20px;
    padding: 18px 36px;
    & > * {
      margin: 0;
      padding: 0;
    }
  }
  .banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100vw;
  }
  .banner-filter {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    height: 40vh;
    position: absolute;
    width: 100%;
  }
  .title {
    font-weight: 600;
  }
  .description {
    color: rgba(var(--almost-white), 1);
  }
  ul.sidebar {
    left: 0;
    list-style-type: none;
    position: fixed;
    text-align: right;
    top: 90px;
    width: calc(((100vw - 800px) / 2) - 36px);
    a {
      &:link,
      &:visited {
        color: rgba(var(--almost-white), 1);
      }
      &:hover,
      &:visited:hover {
        color: rgba(var(--accent), 1);
        transition: color 400ms;
      }
    }
    li {
      font-size: 16px;
    }
  }
  .sub {
    font-size: 60%;
    margin-left: 1px;
    position: relative;
    top: 6px;
  }
  .sup {
    bottom: 14px;
    font-size: 60%;
    margin-left: 0.18px;
    position: relative;
  }
}
@media (max-width: 1360px) {
  body {
    main {
      ul.sidebar {
        margin-bottom: 20px;
        position: static;
        width: 100vw;
        li {
          a {
            display: block;
            text-align: left;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  @supports (background: -webkit-named-image(i)) {
    body {
      &.home {
        min-height: 100vh;
        min-height: -webkit-fill-available;
      }
    }
  }
  body {
    h1 {
      line-height: 48px;
    }
    &.home {
      ul.nav-menu {
        &:not(.responsive) {
          background-color: transparent;
          backdrop-filter: blur(0px);
          -webkit-backdrop-filter: blur(0px);
        }
      }
      main {
        margin: 0 auto !important;
      }
    }
    main {
      font-size: 18px;
      margin: 90px auto !important;
      position: static;
      width: 90% !important;
    }
    h1 {
      font-size: 36px;
    }
    ul.nav-menu,
    ul.nav-menu.responsive {
      height: 55px;
      position: fixed;
    }
    ul.nav-menu {
      li {
        &:not(:first-child) {
          display: none;
        }
      }
    }
    ul.nav-menu.responsive {
      li {
        display: inline;
        float: none;
        a {
          display: block;
          margin-right: 0;
          text-align: left;
        }
      }
    }
    .banner-image {
      max-height: 540px;
    }
    .card {
      padding: 18px 20px;
    }
    .tile {
      height: 460px;
    }
    .nav-button {
      cursor: pointer;
      display: block;
      height: 32px;
      position: fixed;
      right: 18px;
      top: 10px;
      z-index: 1000;
    }
  }
}
