@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,500');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #ddd;
  color: rgba(33,33,33,1.0);
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: hand;
}

#main a:link,
#main a:visited {
  color: #1e00ee;
}

#navbar ul {
  list-style-type: none;
}

#navbar {
  background-color: rgba(235,235,235,0.9);
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  height: 3em;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}

#navbar a.logo {
  background-color: #1e00ee;
  color: #fff;
  margin-right: calc(17.5em - 1em);
}


#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    padding: 1.3em;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #1e00ee;
    letter-spacing: 0.1em;
    font-weight: 400;
}

#navbar li a:not(.logo):hover {
  background-color: #fff;
}

#main {
  margin-top: 2.5em;
  position: relative;
  top: 2.5em;
  left: 17.5em;
  width: 32em;
}

#main h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2em;
}

#main h2 {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 400;
}

#main p {
  margin: 1.25em 0;
  font-size: 0.92em;
  font-weight: 300;
  line-height: 1.5em;
}

#main ul, #main ol {
  margin: 1.2em;
  list-style-type: square;
}


#main li {
  font-size: 0.92em;
  line-height: 1.5em;
}

#main hr {
  border-color: #fff;
  border-style: solid;
  margin-top: 3em;
}

#main strong {
  font-weight: 400;
}

#main em {
  font-size: 0.92em;
  font-weight: 300i;
  line-height: 1.5em;
  font-weight: 300i;
}

#main .sidebar {
  position: fixed;
  top: 2.5em;
  left: 1.2em;
  width: 12.5em;
  margin-top: 2.5em;
  text-align: right;
  list-style-type: none;
}

#main .sidebar a:link,
#main .sidebar a:visited {
  color: #b1b1b1;
}

#main .sidebar a:hover,
#main .sidebar a:visited:hover {
  color: #1e00ee;
}

#main .sidebar li {
  font-size: 0.92em;
  line-height: 2em;
}

#main img {
  height: 12em;
  border-radius: 50%;
}
